@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 2.0;
    overflow-x: hidden;
}

:root{
    --header-1: clamp(2.3rem, 3vw, 3rem);
    --header-2: 2rem;
    --header-3: clamp(1.2rem, 1.25vw, 1.5rem);
    --para: 1rem;
    --para-md: clamp(1rem, 1vw, 1.2rem);
    --para-lg: clamp(1.3rem, 1.25vw, 1.5rem);
    --para-small: 0.9rem;
    --color-primary: #2B0060;
    --color-primary-transparent: #2b006083;
    --color-black:#111111;
    --color-white:#F9FFFA;
}

.container{
    width: 100%;
    /* border: 1px solid green; */
    min-height: 100vh;
}

a{
    text-decoration:  none;
}

ul{
    list-style-type: none;
}

.bold{
    font-weight: 700;
}

.hero-container{
    display: flex;
}

.hero-container div{
    width: 50%;
}

.hero-container .hero-img{
    background-color: blue;
    position: relative      ;
    bottom: 0;
    right: 0;
}

.svg{
    position: absolute;
}

.hero-container img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    clip-path: url(#videoMask);
}



.hero-section{
    height: 100vh;
    background-color: rgba(26, 25, 25, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.hero-section .hero-content{
    margin-inline: 1rem;
    text-align: center;
}

.hero-section .hero-content h1{
    font-size: var(--header-1);
    color: var(--color-white);
}
.button-lg{
    width: fit-content;
    text-decoration: none;
    background-color: white;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 35px;
}


.block{
    display: block;
}

.center{
    margin: 0 auto;
}

.margin-0{
    margin: 0;
}
.hero-section .hero-video{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.scroll-nav a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    animation: bounce 3s infinite;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;
    padding-block: .5rem;
}

.nav-container{
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-container .img-wrapper{
    width: 3%;
    height: 100%;
}
.nav-container .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-container ul#menu{
    display: flex;
    gap: 2rem 
}

.nav-container ul#menu > li a{
    font-size: 1.15rem;
}

.nav-container .menu-button{
    opacity: 0;
}

.nav-container ul#menu .link .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120%;
    left: 20%;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0 1rem 4rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8rem;
    row-gap: 1rem;
    border-radius: 10px;
    transition: opacity 0.3s ease-in, top 0.3s ease-in, visibility 0.3s ease-in;
}

.nav-container ul#menu .link:hover .submenu {
    opacity: 1;
    visibility: visible;
    top: 110%;
}
.nav-container ul#menu li .submenu li a{
    display: block;
    color: black;
}
.nav-container ul#menu li .submenu li a:hover{
    text-decoration: underline;
}


/* SECTION TRANSITIONING  */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translate(0);
    opacity: 1;
}

/*
==========================================
LENIS RECCOMENDED CSS
==========================================
*/

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

/*
==========================================
HOME PAGE
==========================================
*/

.classic__container{
    width: 93%;
    padding-block: 4rem;
    margin-inline: auto;
}
.classic__container .header__content{
    font-size: 1.25rem;
    display: flex;
    text-align: left;
}

.classic__container .header__content h3{
    width: 30%;
    font-weight: 400;
}

.classic__container .image__contents{
    display: grid;
    grid-template-columns: 45% auto 30%;
    gap: 1rem;
    padding-block: 4rem;
}

.classic__container .image__contents .img__wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.classic__container .footer__content div{
    width: 30%;
    /* margin-left: auto; */
}

.classic__container .footer__content div a{
    border: 1px solid #2B0060;
    border-radius: 6px;
    display: block;
    width: fit-content;
    padding: .3rem 1.5rem;
    margin-top: 1rem;
    position: relative;
    color: black;
    z-index: 1;

}

.classic__container .footer__content a::before{
    content: " ";
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: #2B0060;
    border-radius: 6px;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
}

.classic__container .footer__content a:hover{
    color: white;
}
.classic__container .footer__content a:hover::before{
    transform: scaleY(1);
    
}


.service__section{
    background-color: #202020;
}

.service__container{
    width: 60%;
    margin-inline: auto;
    padding: 1rem 0;
}

.service__content{
    color: white;
    /* border: 1px solid white; */
    text-align: center;
}
.service__content h3{
    font-size: 3rem;
}

.service__content p{
    width: 70%;
    margin: 0 auto;
}

.service__items{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 250px;
    gap: 2rem;
    margin-top: 4rem;
}

.service__items div{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2a2a;
    padding-inline: 2rem;
}

.service__items div a{
    margin-top: 1rem;
    color: rgb(255, 166, 0);
    font-weight: 600;
    font-size: initial;
    transition: color .3s ease-in;
}

.service__items div a:hover{
    color: white;
}

.service__items h3,
.service__items p{
    color: white;
}

.service__items h3{
    font-size: 2rem;
}

.service__btn{
    width: fit-content;
    background-color: black;
    border-radius: 6px;
    margin: 4rem auto;
    position: relative;
    z-index: 1;
}

.service__btn a::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 6px;
    background-color: #2B0060;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s ease-in;
}

.service__btn a:hover::before,
.service__btn a:focus::before{
    transform: scaleY(1);
}

.service__btn a{
    display: block;
    color: white;
    font-weight: 600;
    padding: .4rem 1.2rem;
}

.home-contact-section{
    width: 60%;
    margin: 0 auto;
    padding-block: 2rem;
}

.home-contact-section div{
    text-align: center;
}

.home-contact-section form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.home-contact-section form input[type=text],
.home-contact-section form textarea{
    padding: .8rem .6rem;
    font-size: 1rem;
}

.home-contact-section form textarea{
    height: 350px;
}

.home-contact-section form div{
    display: flex;
    gap: .4rem;
    font-size: var(--para-small);
}

.home-contact-section form button[type=submit]{
    width: fit-content;
    padding: 1rem 4rem;
    font-size: var(--para-md);
    font-weight: 600;
    margin: 0 auto;
    border: none;
    background: var(--color-primary);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: all .3s ease-out;
}

.home-contact-section form button[type=submit]:hover{
    background-color: transparent;
    color: #2B0060;
    outline: 2px solid #2B0060;
}

/*
==========================================
ABOUT US PAGE
==========================================
*/

.about-caption{
    padding-block: 2rem;    
}

.about-caption h1{
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--header-1);
    /* font-size: 3rem; */
    font-weight: 700;
    /* border: 1px solid red; */
}

.about-caption .circle{
    width: 15px;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
}

.about-value{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 80vh;
}

.about-value div.box{
    height: 100%;
    background-color: rgba(128, 128, 128, .3);
    padding: 4rem;
}

.about-value div.box:last-child{
    background-color: rgba(128, 128, 128, .35) ;
}


.box div.culture-header{
    font-size: var(--para-md);
}
.box div.culture-header p{
    width: 70%;
    margin-block: .6rem;
}

.box ul{
    list-style-type: none;
    margin-left: 2rem;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li.culture-item{
    position: relative;
    font-size: var(--para-lg);
}

li.culture-item::before{
    content: "";
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    z-index: -1;
}

li.habits{
    font-size: var(--header-3);
    font-weight: 700;
}

.section-grid-100vh{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.overlay-section .item{
    height: 100%;
    position: relative;
}

.overlay-section .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-section .item .overlay-desc{
    position: absolute;
    top: 50%;
    width: 100%;
    /* height: 100%; */
    padding-bottom: 2rem;
    background-color: #11111181;
    text-align: center;
    padding-inline: 1rem; 
    color: white;
}

.overlay-section.overlay-section2 .item .overlay-desc{
    top: 30%;
}

.overlay-section .overlay-desc h1{
    font-size: var(--header-1);
    line-height: 1.2;
}

.overlay-section .overlay-desc .circle{
    width: 10px;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
}

.overlay-section .overlay-desc p{
    font-size: var(--para-lg);
}

.overlay-section .overlay-desc a{
    background-color: var(--color-white);
    padding: 1rem 1.3rem;
    width: fit-content;
    margin: 0 auto;
    display: block;
    border-radius: 35px;
    text-decoration: none;
}
.overlay-section .overlay-desc a:hover{
    text-decoration: underline;
}

.overlay-desc .hidden, .overlay-desc a.hidden{
    display: none;
}

.overlay-section .item-one:hover, .overlay-desc .hidden, .overlay-desc a.hidden{
    visibility: visible;
}


.about-video-section{
    padding-inline: 4rem;
    padding-block: 4rem;
    background-color: var(--color-black);
    position: relative;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    column-gap: 8rem;
}

.video-container{
    width: auto;
    height: 100%;
}

.video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-video-section .video-caption{
    color: white;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* position: absolute;
    top: 40%; */
}
.about-video-section .video-caption h1{
    font-size: var(--header-1);
}
.about-video-section .video-caption p{
    width: 100%;
    margin-top: 2rem;
}
.adds-circle{
    width: 15px;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
}

.info-section{
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.info-card{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    overflow: hidden;
}

.info-card .img-wrapper{
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.info-card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-card .card-desc{
    text-align: center;
    padding-inline: 1rem;
    padding-block: .8rem;
}

.info-card .card-desc a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: #111111;
    width: fit-content;
    font-weight: 700;
    padding: .6rem 1.5rem;
    margin: 0 auto;
    margin-top: .8rem;
    border-radius: 20px;
}

/*
==========================================
SERVICES PAGE
==========================================
*/
.static-hero-section{
    position: relative;
}

.hero-img-wrapper{
    width: 100%;
    height: 60vh;
}
.hero-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-circle{
    width: 450px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: rgb(17,17,17);
    background: linear-gradient(45deg, rgba(17,17,17,1) 30%, rgba(43,0,96,1) 97%);
    position: absolute;
    top: 10%;
    left: 8%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.hidden{
    display: none;
}

.offer-section .offer-container{
    width: 80%;
    margin: 0 auto;
    padding-block: 4rem;    
}

.offer-container .offer-body__container{
    position: relative;
    overflow: hidden;    
}

.offer-body__container .slider-wrapper{
    display: flex;
}

.offer-body{
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

.offer-body{
    margin-block: 4rem;
}

.offer-body .offer-content p:first-child{
    font-size: var(--header-2);
}
.offer-body .offer-content p:last-child{
    font-size: calc(var(--para-md) - .12rem);
    color: rgb(65, 65, 65);
    margin-top: 1rem;
}

.offer-body .img-wrapper{
    width: 100%;
    height: 100%;
}

.offer-body .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.offer-header h1{
    font-size: var(--header-1);
}

.offer-nav{
    overflow: hidden;
}
.offer-nav .slides{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.offer-nav .slides .tab{
    text-align: center;
    padding: .2rem;
    outline: 1px solid rgb(228, 228, 228);
    border-radius: 3px;
    cursor: pointer;
}

.offer-nav .slides .tab.active{
    box-shadow: 0 1px 4px 1px rgba(0, 153, 255, 0.4);
    border: none;
    outline: none;
}

.offer-nav .slides .tab:hover{
    box-shadow: 0 1px 4px 1px rgba(0, 153, 255, 0.4);
    border: none;
    outline: none;
}
.offer-nav .slides .tab div{
    width: 100%;
    height: 100%;
}

.offer-nav .slides .tab div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-control{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-control button{
    background-color: var(--color-primary-transparent);
    color: white;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.blogs-section{
    background-color: #fbfbfb;
    padding-block: 4rem;
}
.blogs-section .section-title{
    width: 60%;
    margin: 0 auto;
}
.blogs-section .section-title h1{
    font-size: var(--header-2);
}

.blogs-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 4rem;
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
}

.blogs-container .grid-item{
    width:100%;
    min-height: 100%;
    position: relative;

}

.blogs-container .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.short{
    grid-row: span 5;
}

.tall{
    grid-row: span 6;
}

.grid-item .img-caption{
    width: 100%;
    height: 100%;
    background-color: #11111181;
    color: white;
    padding-inline: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-lg.show-btn{
    background-color: #2B0060;
    color: white;
    display: block;
    padding-block: .5rem;
    margin: 0 auto;
    margin-top: 2rem;
    transition: all .25s ease-in;

}

.button-lg.show-btn:hover{
    background-color: transparent;
    color: #2B0060;
    outline: 2px solid #2B0060;
}

.grid-item .img-caption h3{
    font-size: var(--para-lg);
}

.service-section{
    padding-block: 4rem;
}

.service-section .section-title{
    width: 80%;
    margin: 0 auto;
}
.service-section .service-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-wrapper .service-item{
    width: 350px;
    border: 1px solid rgba(128, 128, 128, .35);
    cursor: pointer;
}

.service-item .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.service-item-body{
    padding: .5rem 1rem;
}

.service-item-body p{
    font-size: 1rem;
}

.news__section{
    background-color: #fbfbfb;
    padding-block: 4rem;
}

.news__container{
    width: 80%;
    margin-inline: auto;
}
.news__container .news__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__container .news__header h3{
    font-size: 2rem;
}

.news__container .news__header a{
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.news__container .news__header a::after{
    content: " ";
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #2B0060;
    transition: .3s ease-in-out;
}

.news__container .news__header a:hover::after{
    transform: scaleX(1);
}

.news__container .news__header a i{
    font-size: 1.5rem;
}

.news__container .news__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-block: 2rem;
}

.news__body .img__wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.news__body .img__wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 7s ease-in-out;
}

.news__body .img__wrapper img:hover{
    transform: scale(1.3);
}

.news__body .news__item{
    position: relative;
    cursor: pointer;
}

.news__body .news__item .category{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
}

.news__body .news__item .category a{
    color: black;
    background-color: white;
    display: block;
    padding-inline: 1rem;
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
}

.news__body .news__item .category a:hover{
    background-color: rgba(255, 255, 255, 0.637);
}

.news__body .news__item > a{
    display: block;
    color: rgb(82, 82, 82);
    font-size: 1.1rem;
    margin-top: .5rem;
}

.contact-section{
    width: 80%;
    margin: 0 auto;
    padding-block: 2rem;
}

.contact-section .wrapper{
    position: relative;
}

.contact-section .wrapper .img-wrapper img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.contact-section .wrapper .wrapper-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(17, 17, 17, 0.748) 30%, rgba(43, 0, 96, 0.637) 97%);
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 1rem;
    color: var(--color-white);
}


 /*
==========================================
Contact Page
==========================================
*/

.contact-banner{
    height: 60vh;
    position: relative;
}

.contact-banner div{
    width: 100%;
    height: 100%;
}
.contact-banner div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-banner .contact-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.652);
    z-index: 2;
} 

.contact-header div{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-block: 2rem;
}

.contact-header div h1{
    font-size: var(--header-2);
}

.grid-60-40{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 1rem;
}

.form-data{
    padding: 1rem 2rem;
}

.form-data form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-flex{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
}

.form-input{
    display: flex;
    flex-direction: column;
}

.form-input.group{
    width: 50%;
}

.form-input label{
    font-weight: 600;
}
.form-input input{
    padding: .5rem .6rem;
    font-size: 1rem;
}

.form-input textarea{
    font-size: 1rem;
    padding: .5rem .6rem;
    width: 100%;
    min-height: 350px;
}

.form-input ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-input ul li{
    display: flex;
    gap: 1rem;
}

.form-submit button{
    width: 100%;
    font-size: 1rem;
    padding-block: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: #2B0060;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all .3s ease-out;
}

.form-submit button:hover{
    background: transparent;
    outline: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.extra{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.extra-contact .header{
    font-weight: 600;
}

.extra-contact span{
    color: rgba(17, 17, 17, 0.748);
}

.extra-contact ul{
    list-style-type: none;
}
.extra-contact li, .extra-contact li a{
    font-weight: 400;
    font-size: 1rem;
    color: #111111;
}

.extra-contact ul li i{
    font-size: var(--para-md);
}

.uil-message.rotate{
    transform: rotate(-45deg) !important;
}

.newsletter{
    border-radius: 15px;
    background-color: rgba(233, 233, 233, 0.452);
    margin: 4rem;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

.newsletter div{
    width: 65%;
}
.newsletter-form{
    border: 1px solid rgba(128, 128, 128, .35);
    border-radius: 10px;
    width: 35%;
    height: fit-content;
    padding: 0;
    display: flex;
    padding: .1rem;
}

.newsletter-form input, .newsletter-form button{
    display: block;
    padding: .8rem .8rem;
    border: none;
}

.newsletter-form input{
    width: 100%;
    background-color: transparent;
}
.newsletter-form button{
    background-color: var(--color-primary);
    padding: .8rem 1.2rem;
    color: white;
    border-radius: 10px;
}
/*
==========================================
BLOG - Main Page
==========================================
*/

.banner-section{
    width: 100%;
    height: 50vh;
    position: relative;
}

.action-wrapper{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.action-wrapper div{
    display: flex;
    gap: 1rem;
    padding-inline:  1rem;
}

.action-wrapper div i{
    font-size: var(--para-lg);
    cursor: pointer;
}

.banner-section .img-wrapper{
    width: 100%;
    height: 100%;
}

.banner-section .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color:rgba(128, 128, 128, .35);
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 4rem;
    justify-content: end;
}

footer{
    background: #282c34;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem 2rem;
}

footer .social-footer > p{
    font-size: 1.12rem;
}
footer .social-footer .footer-contact-content p{
    display: flex;
    align-items: center;
    gap: .4rem;
}

footer .social-footer .footer-contact-content p span{
    font-size: 1.25rem;
}

footer .social-footer .footer-contact-content p a{
    color: white;
    text-decoration: underline;
    text-decoration-color: aqua;
}

footer .social-footer .media{
    display: flex;
    gap: .2rem;
}

footer .social-footer .media a{
    display: block;
    width: max-content;
}

footer .social-footer .media a img{
    display: block;
    width: 30px;
    object-fit: cover;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-27px);
    }
  }